Repository Chemical-Curation/chemcurator_django, pull requests merged in 2020-08, with the labels that each got.

#221 199 list description html
  chemreg/common/models.py
  chemreg/common/tests.py
  chemreg/lists/migrations/0002_nash_sprint.py
  chemreg/lists/models.py
  chemreg/lists/tests/test_models/test_list.py
  config/settings.py
  requirements.txt
Labels: requirements

#223 145 substance synonym validation
  chemreg/common/validators.py
  chemreg/substance/models.py
  chemreg/substance/serializers.py
  chemreg/substance/tests/factories.py
  chemreg/substance/tests/test_serializers.py
  chemreg/substance/tests/test_views.py
  requirements.txt
Labels: requirements

#227 #198 add UniqueConstraint on model and UniqueTogether constraint on s…
  chemreg.postman_collection.json
  chemreg/common/models.py
  chemreg/common/validators.py
  chemreg/compound/migrations/0004_orion_sprint.py
  chemreg/compound/models.py
  chemreg/fixtures/compounds.yaml
  chemreg/fixtures/lists.yaml
  chemreg/fixtures/test_data.yaml
  chemreg/fixtures/users.yaml
  chemreg/lists/migrations/0003_orion_sprint.py
  chemreg/lists/models.py
  chemreg/lists/serializers.py
  chemreg/lists/tests/test_serializers.py
  chemreg/lists/tests/test_views.py
  chemreg/substance/migrations/0007_orion_sprint.py
  chemreg/users/migrations/0003_orion_sprint.py
  requirements.txt
Labels: migrate, requirements

#231 54 substance page django
  chemreg/compound/serializers.py
  chemreg/compound/tests/conftest.py
  chemreg/compound/tests/test_views.py
  chemreg/fixtures/substances.yaml
  chemreg/substance/migrations/0007_orion_sprint.py
  chemreg/substance/models.py
  chemreg/substance/tests/test_models/test_substance.py
Labels: migrate
